<!-- Begin Header Bottom Area -->
<div class="header-bottom header-sticky d-none d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Begin Header Bottom Menu Area -->
                <div class="hb-menu hb-menu-2 d-xl-block">
                    <nav>
                        <ul>
                            <li><a asp-controller="home" asp-action="index">Əsas</a></li>
                            <li><a asp-controller="shop" asp-action="index">Alış Veriş</a></li>
                            <li><a asp-controller="blog" asp-action="index">Bloq</a></li>
                            <li><a asp-controller="home" asp-action="About">Haqqımızda</a></li>
                            <li><a asp-controller="home" asp-action="contact">Əlaqə</a></li>
                            <li><a asp-controller="home" asp-action="faq">Tez-tez verilən suallar</a></li>
                            <!-- Begin Header Bottom Menu Information Area -->
                            <li class="hb-info f-right p-0 d-sm-none d-lg-block">
                                <span>6688 London, Greater London BAS 23JK, UK</span>
                            </li>
                            <!-- Header Bottom Menu Information Area End Here -->
                        </ul>
                    </nav>
                </div>
                <!-- Header Bottom Menu Area End Here -->
            </div>
        </div>
    </div>
</div>
<!-- Header Bottom Area End Here -->