<form method="post" id="newsletter-subscribe" class="footer-subscribe-form validate" novalidate>
    <div id="mc_embed_signup_scroll">
        <div id="mc-form" class="mc-form subscribe-form form-group">
            <input id="mc-email" type="text" name="email" autocomplete="off" placeholder="Enter your email" />
            <button class="btn" id="mc-submit">Subscribe</button>
        </div>
    </div>
</form>
