@model PagedViewModel<BlogPost>
@{
    ViewData["Title"] = "Index";
}

<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a asp-controller="home" asp-action="index">Əsas</a></li>
                <li class="active">Bloq</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- Begin Li's Main Blog Page Area -->
<div class="li-main-blog-page pt-60 pb-55">
    <div class="container">
        <div id="dynamic-content">
            <partial name="_BlogPostsBody" model="@Model" />
        </div>

    </div>
</div>
@section addcss{
<style>
    body {
        scroll-behavior: smooth;
    }
</style>
}

@section addjs{
<script>
            //function goPage(pageIndex,pageSize) {

            //    $.ajax({
            //        url:`@Url.Action("Index")?pageIndex=${pageIndex}&pageSize=${pageSize}`,
            //        method:'GET',
            //        success: function(response) {
            //            $('#dynamic-content').html(response);
            //            location.hash = "#dynamic-content";
            //            location.hash = "";
            //        },
            //        error: function(response) {
            //            console.log(response);
            //        }
            //    });
            //}
            function goPage(pageIndex, pageSize) {

            $.ajax({
                url: `@Url.Action("Index")`,
                type: 'POST',
                data: {
                    pageIndex: pageIndex,
                    pageSize: pageSize
                },
                contentType:'application/x-www-form-urlencoded',
                success: function(response) {
                    $('#dynamic-content').html(response);
                    location.hash = "#dynamic-content";
                    location.hash = "";
                },
                error: function(response) {
                    console.log(response);
                }
            });
        }
</script>
}


