@model UserFormModel
@{
    ViewData["Title"] = "Daxil Ol";
}


<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a asp-controller="home" asp-action="index">Əsas</a></li>
                <li class="active">Daxil Ol</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->


<div class="page-section mb-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 mb-30">
                <!-- Login Form s-->
                <form method="post">
                    <div class="login-form">
                        <h4 class="login-title">Daxil ol</h4>
                        <div class="row">
                             @if (!string.IsNullOrWhiteSpace(ViewBag.Message))
                                {
                                    <div class="alert alert-danger col-md-12 col-12 mb-20">@ViewBag.Message</div>
                                }
                            <div class="col-md-12 col-12 mb-20">
                                <label>Email Address*</label>
                                <input class="mb-0" type="email" placeholder="Email Address" id="username" asp-for="UserName">
                            </div>
                            <div class="col-12 mb-20">
                                <label>Password</label>
                                <input class="mb-0" type="password" placeholder="Password" id="password" asp-for="Password">
                            </div>
                            <div class="col-md-8">
                                <div class="check-box d-inline-block ml-0 ml-md-2 mt-10">
                                    <input type="checkbox" id="remember_me">
                                    <label for="remember_me">Remember me</label>
                                </div>
                            </div>
                            <div class="col-md-4 mt-10 mb-20 text-left text-md-right">
                                <a href="#"> Forgotten pasward?</a>
                            </div>

                            <div class="col-md-12">
                                <button type="submit" class="register-button mt-0">Login</button>
                                <button type="submit" class="register-button mt-0 ml-10"><a asp-action="Register">Register</a></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>

