@{
    ViewData["Title"] = "Home";
}
<!-- Begin Slider With Category Menu Area -->
<div class="slider-with-banner">
    <div class="container">
        <div class="row">
            <!-- Begin Category Menu Area -->
            <!-- Category Menu Area End Here -->
            <!-- Begin Slider Area -->
            @await Component.InvokeAsync("ProductSlider")

            @* <div class="col-lg-9">
                <div class="slider-area pt-sm-30 pt-xs-30">
                <div class="slider-active owl-carousel">
                <!-- Begin Single Slide Area -->
                <div class="single-slide align-center-left animation-style-02 bg-4">
                <div class="slider-progress"></div>
                <div class="slider-content">
                <h5>Sale Offer <span>-20% Off</span> This Week</h5>
                <h2>Chamcham Galaxy S9 | S9+</h2>
                <h3>Starting at <span>$589.00</span></h3>
                <div class="default-btn slide-btn">
                <a class="links" href="shop-left-sidebar.html">Shopping Now</a>
                </div>
                </div>
                </div>
                <!-- Single Slide Area End Here -->
                <!-- Begin Single Slide Area -->
                <div class="single-slide align-center-left animation-style-01 bg-5">
                <div class="slider-progress"></div>
                <div class="slider-content">
                <h5>Sale Offer <span>Black Friday</span> This Week</h5>
                <h2>Work Desk Surface Studio 2018</h2>
                <h3>Starting at <span>$1599.00</span></h3>
                <div class="default-btn slide-btn">
                <a class="links" href="shop-left-sidebar.html">Shopping Now</a>
                </div>
                </div>
                </div>
                <!-- Single Slide Area End Here -->
                <!-- Begin Single Slide Area -->
                <div class="single-slide align-center-left animation-style-02 bg-6">
                <div class="slider-progress"></div>
                <div class="slider-content">
                <h5>Sale Offer <span>-10% Off</span> This Week</h5>
                <h2>Phantom 4 Pro+ Obsidian</h2>
                <h3>Starting at <span>$809.00</span></h3>
                <div class="default-btn slide-btn">
                <a class="links" href="shop-left-sidebar.html">Shopping Now</a>
                </div>
                </div>
                </div>
                <!-- Single Slide Area End Here -->
                </div>
                </div>
                </div>*@

            <!-- Slider Area End Here -->
        </div>
    </div>
</div>
<!-- Slider With Category Menu Area End Here -->
<!-- Begin Li's Static Banner Area -->
<!-- Li's Static Banner Area End Here -->
<!-- Begin Li's Special Product Area -->
<!-- Li's Special Product Area End Here -->
<!-- Begin Li's Laptops Product | Home V2 Area -->
<section class="product-area li-laptop-product li-laptop-product-2 pb-45">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Section Area -->
            @await Component.InvokeAsync("ProductEngineOilSlider")
            <!-- Li's Section Area End Here -->
        </div>
    </div>
</section>
<!-- Li's Laptops Product | Home V2 Area End Here -->
<!-- Begin Li's TV & Audio Product Area -->
<section class="product-area li-laptop-product li-tv-audio-product-2 pb-45">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Section Area -->
            @await Component.InvokeAsync("ProductGearOilSlider")
        </div>
    </div>
</section>
<!-- Li's TV & Audio Product Area End Here -->
<!-- Begin Li's Smart Phone Product Area -->
<section class="product-area li-laptop-product li-smart-phone-product-2 pb-50">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Section Area -->
            @await Component.InvokeAsync("ProductAntifreezeSlider")
            <!-- Li's Section Area End Here -->
        </div>
    </div>
</section>
<!-- Li's Smart Phone Product Area End Here -->
<!-- Begin Li's Smart Phone Product Area -->
<section class="product-area li-laptop-product li-smart-phone-product-2 pb-50">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Section Area -->
            @await Component.InvokeAsync("ProductMotoSlider")
            <!-- Li's Section Area End Here -->
        </div>
    </div>
</section>
<!-- Li's Smart Phone Product Area End Here -->
@section addjs{
<script>
        function addToBasket(e) {
        e.preventDefault();

        let elementData = $(e.currentTarget).data();

        $.ajax({
            url: `@Url.Action("Basket","Shop")`,
            type: 'POST',
            data: elementData,
            contentType: 'application/x-www-form-urlencoded',
            success: function(response){
                console.log(response);

                if (response.error == false) {
                    toastr.success(response.message,'Success');
                    return;
                }
                toastr.error(response.message,'Error');
            },
            error: function(response, status, xhr) {
                console.log(response, status, xhr);
            }
        });
    }
    function addToFavorites(productId) {
        const favorites = ($.cookie('favorites') || '').split(',').filter(item => item.length > 0);

        if (favorites.filter(item => item == productId).length == 0) {
            favorites.push(productId);

            $.cookie('favorites', favorites.toString(), { path: '/' });
        }

        let isInArray = true;

        $.each(favorites, function (index, value) {
            if (value === productId) {
                isInArray = true;
            } else {
                isInArray = false;
            }
        });

        if (isInArray) {
            toastr.success("İstək siyahısına əlavə edildi");
        } else {
            toastr.success("Bu məhsul artıq istək siyahısında mövcuddur");
        }

        console.log($.cookie('favorites'))



    }
</script>
}